# Tablice zwykłe

Język Ruby definiuje dwie podstawowe klasy `Array` oraz `Hash`, które wykorzystywane są jak _kontenery_ do przechowywania innych obiektów. W tym laboratorium opiszemy klasę `Array`, która charakteryzuje się tym, że elementy są w niej indeksowane za pomocą liczba. Klasa `Hash` pozwala indeksować elementy za pomocą dowolnych obiektów. Obiekty klasy `Array` będzimy nazywać _tablicami zwykływmi_ (czasami skrótowo po porstu tablicami), a obiekty klasy `Hash` - _tablicami asocjacyjnymi_.

## Tworzenie tablic

Stowrzenie tablicy zwykłej jest proste - wystarczy ująć dowolny ciąg elementów w nawiasy kwadratowe i oddzielić je przecinkami.

```ruby
tablica_napisow = ["Ala", "ma", "kota"]
```

In [1]:
tablica_napisow = ["Ala", "ma", "kota"]

["Ala", "ma", "kota"]

Tablice mogą jednocześnie zawierać elementy różnych typów
```ruby
dziwna_tablica = ["Ala", 10, /abc/]
```

In [4]:
dziwna_tablica = ["Ala", 10, /abc/]

["Ala", 10, /abc/]

Aby odwołać się do któregoś spośród elementów tablicy używamy operatora indeksowania `[]`. Dopuszczalnymi wartościami indeksów są liczby naturalne. Tablice indeksowane są od 0.

```ruby
tablica_napisow = ["Ala", "ma", "kota"]
tablica_napisow[0]
tablica_napisow[1]
```

In [3]:
tablica_napisow = ["Ala", "ma", "kota"]
p tablica_napisow[0]
p tablica_napisow[1]

"Ala"
"ma"

"ma"

Odwołanie się do elementu o indeksie spoza zakresu skutkuje zwróceniem wartości pustej
```ruby
tablica_liczb = [1,3,5]
tablica_liczb[5]
```

In [6]:
p tablica_liczb = [1,3,5]
p tablica_liczb[5]

[1, 3, 5]
nil

Podobnie jak w przypadku napisów, operator zakresu akceptuje przedziały oraz wartości ujemne
```ruby
tablica_liczb = [1,3,5]
tablica_liczb[0..1]
tablica_liczb[1..-1]
```

In [7]:
p tablica_liczb = [1,3,5]
p tablica_liczb[0..1]
p tablica_liczb[1..-1]

[1, 3, 5]
[1, 3]
[3, 5]

[3, 5]

Ponieważ tablice w Rubim są dynamicznie zarządzane, jedynym ograniczeniem ich rozmiaru jest dostępna pamięć operacyjna.
Jeśli przypiszemy wartość do indeksu, który wcześniej nie był zajmowany, wszystkie wcześniejsze indeksy _implicite_ otrzymają
wartość `nil`.

```ruby
tablica_liczba = [1,3,5]
p tablica_liczba
tablica_liczb[30] = 50
p tablica_liczb
```

In [8]:
tablica_liczba = [1,3,5]
p tablica_liczba
tablica_liczb[30] = 50
p tablica_liczb

[1, 3, 5]
[1, 3, 5, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, 50]

[1, 3, 5, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, nil, 50]

Co więcej, przy przypisywaniu wartości do tablicy można również wskazać zakres wartości, np.
```ruby
tablica_liczb = [1,3,5]
tablica_liczb[1..2] = [2,4,6]
tablica_liczb
```

In [9]:
p tablica_liczb = [1,3,5]
p tablica_liczb[1..2] = [2,4,6]
p tablica_liczb

[1, 3, 5]
[2, 4, 6]
[1, 2, 4, 6]

[1, 2, 4, 6]

Mechanizm ten pozwala nam rozszerzać tablicę w dowolnym miejscu - nawet bez utraty jej wcześniejszej zawartości. Aby uzyskać ten efekt, konieczne jest wskazanie niedomkniętego zakresu, którego oba końce są identyczne
```ruby
tablica_liczb = [1,3,5]
tablica_liczb[1...1] = [2,4,6]
tablica_liczb
```

In [4]:
p tablica_liczb = [1,3,5]
p tablica_liczb[1...1] = [2,4,6]
p tablica_liczb

[1, 3, 5]
[2, 4, 6]
[1, 2, 4, 6, 3, 5]

[1, 2, 4, 6, 3, 5]

### Zadanie 1

Dla tablicy ```["a","b","d","e"]``` wstaw literę ```"c"``` pomiędzy litery b i d.

In [6]:
p tablica = ["a", "b", "d", "e"]
p tablica[2...2] = ["c"]
p tablica

["a", "b", "d", "e"]
["c"]
["a", "b", "c", "d", "e"]

["a", "b", "c", "d", "e"]

Możliwe jest również tworzenie tablic za pomocą konstruktora klasy `Array`
```ruby
Array.new
```

In [22]:
Array.new

[]

Najczęściej konstruktor ten jednak jest wykorzystywany, jeśli chcemy określić początkowy rozmiar tablicy
```ruby
Array.new(5)
```

In [23]:
Array.new(5)

[nil, nil, nil, nil, nil]

Możemy również określić początkową zawartość tablicy
```ruby
Array.new(5,"a")
```

In [7]:
Array.new(5,"0")

["0", "0", "0", "0", "0"]

Jeśli konstruujemy tablicę napisów, możemy skorzystać z wygodniejszego zapisu, w którym unikamy używania cudzysłowów oraz przecinków
```ruby
tablica_napisow = %w(Ala ma kota)
```

In [9]:
tablica_napisow = %w(Ala ma kota , a ola ma szynszyle)

["Ala", "ma", "kota", ",", "a", "ola", "ma", "szynszyle"]

### Zadanie 2

Jakie litery w alfabecie łacińskim zajmują pozycje od 10 do 15?

In [37]:
p alfabet = ("a".."z").to_a
p alfabet[9..14]

["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
["j", "k", "l", "m", "n", "o"]

["j", "k", "l", "m", "n", "o"]

## Operatory działające na tablicach

Ruby definiuje szereg operatorów, które mogą być wykorzystywane do modyfikowania tablic.
W pierwszej kolejności możemy wypórbować działanie operatora `+`.
```ruby
a = [1,2,3]
b = [4,5]
a + b
```

In [38]:
a = [1,2,3]
b = [4,5]
a + b

[1, 2, 3, 4, 5]

Działanie operatora `-` jest również dość intuicyjne.

```ruby
a = [1,2,3]
b = [1,3,4]
a - b
```

In [39]:
a = [1,2,3]
b = [1,3,4]
a - b

[2]

Oba operatory traktują tablice jak ciągi, tzn. wartości w nich mogą się powtarzać:
```ruby
a = [1,2,3]
b = [3,4,5]
a + b
```

In [40]:
a = [1,2,3]
b = [3,4,5]
a + b

[1, 2, 3, 3, 4, 5]

Jeśli chcielibyśmy użyć tablic jako zbiorów, możemy w tym celu wykorzystać opartory `|` (suma teoriomnogościowa) oraz `&` (iloczyn teoriomnogościowy)
```ruby
a = [1,2,3]
b = [2,3,4]
a | b
```

In [41]:
a = [1,2,3]
b = [2,3,4]
a | b

[1, 2, 3, 4]

```ruby
a = [1,2,3]
b = [2,3,4]
a & b
```

In [42]:
a = [1,2,3]
b = [2,3,4]
a & b

[2, 3]

### Zadanie 3

Znajdź wszystkie samogłoski wśród liter alfabetu angielskiego poczynając od ```g```. Wykorzystaj do tego operacje na tablicach i zakresy.

In [50]:
p samogloski = ["y", "u", "a", "i", "e", "o"]
p alfabet = ("g".."z").to_a
p znajdz = samogloski & alfabet

["y", "u", "a", "i", "e", "o"]
["g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
["y", "u", "i", "o"]

["y", "u", "i", "o"]

## Tablica jako stos i kolejka

Ruby pozwala również wykorzystywać tablice jak kolejki oraz stosy - służą do tego odpowiednie funkcje. Dodanie elementu na koniec tablicy można zrealizować na dwa sposoby. Po pierwsze z wykorzystaniem operatora `<<`
```ruby
tablica = [1,2,3]
tablica << 4
tablica
```

In [52]:
p tablica = [1,2,3]
p tablica << 4
p tablica

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

[1, 2, 3, 4]

Po drugie z wykorzystaniem metody `push`
```ruby
tablica = [1,2,3]
tablica.push(4)
tablica
```

In [53]:
p tablica = [1,2,3]
p tablica.push(4)
p tablica

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

[1, 2, 3, 4]

Metoda `push` posiada komplementarną wobec niej metodę `pop`, która usuwa ostani element. Pozwala to traktować tablicę jak stos
```ruby
tablica = [1,2,3]
tablica.push(5)
tablica.push(7)
p tablica
tablica.pop
tablica.pop
tablica.pop
p tablica
```

In [54]:
tablica = [1,2,3]
tablica.push(5)
tablica.push(7)
p tablica
tablica.pop
tablica.pop
tablica.pop
p tablica

[1, 2, 3, 5, 7]
[1, 2]

[1, 2]

Możemy również skorzystać z metody `shift` - wtedy tablica zamienia się w kolejkę
```ruby
tablica = []
tablica.push(1)
tablica.push(3)
tablica.push(5)
tablica.push(7)
p tablica.shift
p tablica.shift
p tablica.shift
```

In [57]:
tablica = []
p tablica.push(1)
p tablica.push(3)
p tablica.push(5)
p tablica.push(7)
p tablica.shift
p tablica.shift
p tablica.shift
p tablica.shift

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
1
3
5
7

7

Klasa `Array` posiada również metodę `reverse`, która odwraca kolejność elemntów tablicy
```ruby
tablica = [1,2,3,4]
tablica.reverse
```

In [58]:
tablica = [1,2,3,4]
tablica.reverse

[4, 3, 2, 1]

### Zadanie 4

Wypisz wszystkie litery alfabetu łacińskiego w odwrotnej kolejności niż standardowa (tzn. zaczynając od ```z```).

In [60]:
alfabet = ("a".."z").to_a
p alfabet.reverse

["z", "y", "x", "w", "v", "u", "t", "s", "r", "q", "p", "o", "n", "m", "l", "k", "j", "i", "h", "g", "f", "e", "d", "c", "b", "a"]

["z", "y", "x", "w", "v", "u", "t", "s", "r", "q", "p", "o", "n", "m", "l", "k", "j", "i", "h", "g", "f", "e", "d", "c", "b", "a"]

## Badanie zawartości tablicy

Tablice posiadają metodę `size`, która zwraca ich rozmiar
```ruby
tablica_liczb = [1,2,3]
tablica_liczb.size
```

In [62]:
p tablica_liczb = [1,2,3]
p tablica_liczb.size

[1, 2, 3]
3

3

Możemy również sprawdzić czy tablica jest pusta, za pomocą wywołania `empty?`
```ruby
p [].empty?
p [1,2,3].empty?
```

In [63]:
p [].empty?
p [1,2,3].empty?

true
false

false

Odowłanie do pierwszego elementu poza `tablica[0]` można rówież zrealizować za pomocą metody `first`
```ruby
tablica = [3,4,5]
tablica.first
```

In [65]:
p tablica = [3,4,5]
p tablica.first

[3, 4, 5]
3

3

Podobnie do ostatniego elementu możemy odwołać się za pomocą wywołania `last`
```ruby
tablica = [3,4,5]
tablica.last
```

In [66]:
tablica = [3,4,5]
tablica.last

5

## Modyfikowanie tablic

Ruby dostarcza wielu przydatnych metod do pracy z tablicami. Pierwszą z nich jest `compact`, która usuwa puste elemty z tablicy
```ruby
[1,2,nil,5,nil,nil].compact
```

In [68]:
[1,2,nil,5,nil,nil].compact

[1, 2, 5]

Metoda `uniq` usuwa zaś powtarzające się elementy
```ruby
[1,1,3,nil,nil,3,5,5,5].uniq
```

In [15]:
tablica = [1,1,3,nil,nil,3,5,5,5].uniq
puts tablica
puts tablica[9]

[1, 3, nil, 5]

Usuwanie indywidualnych elementów może odbywać sie na dwa sposoby. Po pierwsze możemy użyć metody `delete`, która usuwa wszystkie elementy o danej wartości, zmniejszając rozmiar tablicy
```ruby
tablica = [1,2,3,5,5,2]
tablica.delete(2)
tablica
```

In [19]:
p tablica = [1,2,3,5,5,2]
p tablica.delete(2)
p tablica

[1, 2, 3, 5, 5, 2]
2
[1, 3, 5, 5]

[1, 3, 5, 5]

Natomiast metoda `delete_at` usuwa element o zadanym indeksie
```ruby
tablica = [3,4,5,6]
tablica.delete_at(2)
tablica
```

In [20]:
tablica = [3,4,5,6]
tablica.delete_at(2)
tablica

[3, 4, 6]

Przydatnym jest również wywołanie `join`, które zamienia tablicę na łańcuch znaków
```ruby
tablica = [3,4,5]
tablica.join(" - ")
```

In [25]:
tablica = [3,4,5]
tablica.join("i")

"3i4i5"

### Zadanie 5

W zadanej tablicy usuń wszystkie wartości `nil` oraz elementy powtarzające się (w wynikowej tablicy ma występować tylko jeden 
reprezentant powtórzonych wartości).

In [79]:
tablica = [4, 7, 8, nil, 10, 3, nil, 3, 4, nil, 6]
p tablica.compact.uniq

[4, 7, 8, 10, 3, 6]

[4, 7, 8, 10, 3, 6]